h1 {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
}
